
$primary-color: #61dafb;
$primary-hover-color: #21a1f1;
$text-color: #ffffff;
$text-secondary: #e0e0e0;
$text-dark: #333;
$text-gray: #555;
$background-dark: rgba(0, 0, 0, 0.75);
$background-light: rgba(11, 12, 12, 0.1);
$background-tech: rgba(36, 38, 41, 0.767);
$background-coming-soon: rgb(32, 35, 42);
$success-background-color: #dcfce7;


$font-size-xl: 2.4rem;
$font-size-lg: 2.2rem;
$font-size-md: 2rem;
$font-size-sm: 1.5rem;
$font-size-xs: 1.2rem;
$font-size-xxs: 1rem;

$spacing-xxl: 10rem; 
$spacing-xl: 6rem;
$spacing-lg: 4rem;
$spacing-md: 3rem;  
$spacing-sm: 2rem;
$spacing-xs: 1.5rem;
$spacing-xxs: 1rem;

$border-radius-lg: 16px;
$border-radius-md: 12px;
$border-radius-sm: 10px;
$border-radius-xs: 8px;

$shadow-default: 0 0 20px rgba(0, 0, 0, 0.2);
$shadow-card: 0 4px 12px rgba(0, 0, 0, 0.08);
$shadow-text: 1px 1px 4px rgba(0, 0, 0, 0.87);
$shadow-hover-tech: 0 10px 30px rgb(97, 218, 251);
$shadow-hover-card: 0 10px 20px rgba(97, 218, 251);

$container-xl: 1200px;
$container-lg: 900px;
$container-md: 700px;
$container-sm: 600px;
$container-xs: 500px;
$container-xxs: 300px;


$screen-xl: 1601px;
$screen-lg: 1200px;
$screen-md: 768px;
$screen-sm: 480px;