@use "~styles/layout/_variables" as *;
@use "~styles/layout/_mixins" as *;

.loader-container {
  @include background-overlay($blur: true);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.8s ease;
  overflow: hidden;

  &.fade-out {
    opacity: 0;
    pointer-events: none;
  }

  .loader-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    img {
      width: 200px;
      height: auto;
      margin-right: -5px;
      position: relative;
      z-index: 2;
      animation: float 3s ease-in-out infinite;

      @include respond-to(md) {
        width: 150px;
      }

      @include respond-to(sm) {
        width: 80px; 
      }
    }

    .portfolio-text {
      color: $text-color;
      font-size: 3rem;
      margin-left: -5px;
      animation: fadeIn 2s ease-in-out forwards;
      opacity: 0;

      @include respond-to(md) {
        font-size: 2.5rem;
      }

      @include respond-to(sm) {
        font-size: 1.8rem; 
      }
    }

  
    @include respond-to(xs) {
      gap: 5px;
      
      img {
        width: 60px;
      }
      
      .portfolio-text {
        font-size: 1.4rem;
      }
    }
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(5deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@include respond-to(sm) {
  .loader-container .loader-logo {
    flex-direction: row; 
    align-items: center;
    gap: 8px;
  }
}