@use "~styles/layout/variables" as *;
@use "~styles/layout/mixins" as *;

.footer {
  background-color: $background-tech;
  color: $text-color;
  padding: 0.5rem 1rem;
  margin-top: auto;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    text-align: center;
    font-size: $font-size-xs;
  }

  .footer-logo {
    width: 60px;
    height: auto;
    color: $primary-color;
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      gap: 0.25rem;
    }

    .footer-logo {
      width: 40px;
    }
  }
}
