@use "~styles/layout/variables" as *;
@use "~styles/layout/mixins" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $background-tech;
  color: $text-color;
  font-size: 1.5rem;
  transition: padding 0.3s ease;

  .nav-title {
    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $primary-color;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .nav-logo {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.1) rotate(-5deg);
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  ul {
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        color: $text-color;
        font-weight: 500;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        position: relative;
        padding: 0.5rem 0;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: $primary-color;
          transition: width 0.3s ease-in-out;
        }

        &:hover,
        &.active {
          color: $primary-color;
          transition: color 0.3s;
        }

        &:hover::after,
        &.active::after {
          width: 100%;
        }

        .nav-text {
          font-size: $font-size-sm;
          transition: all 0.3s ease;
        }
      }
    }
  }

  .contrast-button {
    background: none;
    border: none;
    color: $text-color;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: $primary-color;
      transform: scale(1.1);
    }
  }


  @media (max-width: 1100px) {
    padding: 0.75rem 1.5rem;
    ul {
      gap: 1.2rem; 
      a {
        gap: 0.4rem;
        .nav-text {
          font-size: $font-size-xs; 
        }
      }
    }
  }


  @media (max-width: 990px) {
    padding: 0.75rem 1rem; 

    .nav-right {
      gap: 1rem; 
    }

    ul {
      gap: 1.2rem; 

      a {
        flex-direction: column; 
        gap: 0.2rem; 
        font-size: 1.3rem; 

        .nav-text {
          font-size: 0.7rem; 
          font-weight: 400; 
        }
      }
    }
  }

  @media (max-width: 821px) {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .nav-right {
      flex-direction: column;
      width: 100%;
    }

    ul {
      flex-direction: row;
      gap: 1rem;
      justify-content: space-around;
      width: 100%;
      align-items: center;
    }
  }
}
