@use "~styles/layout/_variables" as *;
@use "~styles/layout/_mixins" as *;

.contact-section {
  @include background-overlay(true);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-lg $spacing-sm;
  gap: $spacing-sm;
  min-height: 92vh;
  position: relative;
  z-index: 0;
  background-color: $background-lightdark;

  .contact-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    gap: $spacing-sm;
    @media (min-width: $screen-md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .contact-info {
    flex: 1;
    text-align: center;
    padding: $spacing-xxs;
    margin-right: 0;

    @media (min-width: $screen-md) {
      text-align: left;
      margin-right: 2rem;
    }
    
    @media (min-width: $screen-lg) {
        margin-right: 7.5rem;
    }

    h2 {
      font-size: $font-size-xl;
      font-weight: 700;
      margin-bottom: $spacing-xxs;
      color: $primary-color;
      background-color: $background-light;
      display: inline-block;
      padding: $spacing-xxs $spacing-sm;
      border-radius: $border-radius-md;
    }

    p {
      font-size: $font-size-xs;
      line-height: 1.8;
      color: $text-secondary;
      text-shadow: $shadow-text;
      background-color: transparent;
    }
  }

  .contact-form {
    flex: 1;
    width: 100%;
    max-width: 500px;
    background-color: $background-color;
    padding: $spacing-sm;
    border-radius: $border-radius-lg;
    box-shadow: $shadow-card;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-left: 0;

    input,
    textarea {
      @include form-field;
    }

    textarea {
      resize: none;
      min-height: 120px;
    }

    button {
      padding: 0.9rem 1.2rem;
      font-size: $font-size-xxs;
      background-color: $primary-color;
      color: $text-dark;
      font-weight: bold;
      border: none;
      border-radius: $border-radius-sm;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: $primary-hover-color;
        transform: translateY(-2px);
      }
    }
  }

  @media (max-width: $screen-lg) {
    .contact-info {
      h2 {
        font-size: $font-size-lg;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }

  @media (max-width: $screen-md) {
    padding: $spacing-md $spacing-xxs;

    .contact-content {
      flex-direction: column;
    }

    .contact-info {
      h2 {
        font-size: $font-size-md;
      }
      p {
        font-size: $font-size-xxs;
      }
    }

    .contact-info,
    .contact-form {
      width: 100%;
      max-width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .contact-form {
        padding: $spacing-sm $spacing-xs;
    }
    .contact-info h2 {
        font-size: $font-size-sm;
    }
  }
}