@use "~styles/layout/variables" as *;
@use "~styles/layout/mixins" as *;

.competencies-page {
  @include background-overlay(true);
  padding: $spacing-lg $spacing-md;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  align-items: center;
  width: 100%;
  min-height: 92vh;

  &::before {
    background-color: $background-dark;
  }
  
  .experience-section,
  .education-section {
    width: 100%;
    max-width: $container-xl;
    background-color: $background-light;
    padding: $spacing-md;
    border-radius: $border-radius-md;
    box-shadow: $shadow-default;

    h2 {
      font-size: $font-size-xl;
      color: $primary-color;
      text-align: center;
      margin-bottom: $spacing-md;
      text-shadow: $shadow-text;
    }
  }
  
  .experience-details-list {
    list-style-type: disc;
    padding-left: $spacing-md;
    margin: $spacing-xs 0;
    font-size: $font-size-xxs;
    color: $text-secondary;
    line-height: 1.6;
  
    li {
      margin-bottom: $spacing-xxs;
    }
  }

  @include respond-to(md) {
    padding: $spacing-md $spacing-sm;

    .experience-section,
    .education-section {
      padding: $spacing-sm;
      h2 {
        font-size: $font-size-lg;
      }
    }
  }

  @include respond-to(sm) {
    padding: $spacing-sm $spacing-xxs;
    gap: $spacing-md;

    .experience-section,
    .education-section {
      padding: $spacing-sm $spacing-xs;
      h2 {
        font-size: $font-size-md;
      }
    }

    .experience-details-list {
      padding-left: $spacing-sm;
    }
  }
}