@use '../layout/variables' as *;
@use '../layout/mixins' as *;

.home-section {
  @include background-overlay(true);
  padding: $spacing-xxl;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: $spacing-sm;
  min-height: 92vh;


  .home-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $container-xxs;
    margin-left: $spacing-xxl;

    .image-wrapper {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 0.1rem;
      box-shadow: $shadow-default;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      text-align: center;
      background-color: $background-light;
      padding: $spacing-xs;
      border-radius: $border-radius-sm;
      width: 100%;

      h1 {
        font-size: $font-size-md;
        margin: 0.5rem 0;
        color: $text-color;
        text-shadow: $shadow-text;
      }

      .subtitle {
        font-size: $font-size-xs;
        color: $text-secondary;
        text-shadow: $shadow-text;
        margin: 1.6rem 0;
      }

      .icons {
        display: flex;
        justify-content: center;
        gap: $spacing-sm;
        margin-top: $spacing-xxs;

        a {
          color: $text-color;
          transition: color 0.3s;

          &:hover {
            color: $primary-color;
          }
        }
      }

      .cv-button {
        @include button-style;
        font-size: $font-size-xxs;
        display: inline-block;
        margin-top: $spacing-sm;
        text-decoration: none;

        &:hover {
          background-color: rgba($primary-hover-color, 0.76);
          transform: translateY(-5px);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .about {
    flex: 2;
    max-width: $container-lg;
    background-color: $background-light;
    border-radius: $border-radius-sm;
    padding: $spacing-xs;
    margin-top: $spacing-lg;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: $font-size-xl;
      margin-bottom: $spacing-xxs;
      color: $text-color;
      text-shadow: $shadow-text;
    }

    p {
      font-size: $font-size-xs;
      line-height: 1.8;
      color: $text-secondary;
      text-shadow: $shadow-text;
    }
  }

  @include respond-to(md) {
    flex-direction: column;
    align-items: center;
    padding: $spacing-sm $spacing-xxs;

    .home-column,
    .about {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
